pipeline/pip_02_SILVER_Clean_SalesForce_md.json
{
	"name": "pip_02_SILVER_Clean_SalesForce_md",
	"properties": {
		"activities": [
			{
				"name": "gmSalesForceCSV",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_02_SILVER_RawFiles_SalesForce",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "fe_CleanSF",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "gmSalesForceCSV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('gmSalesForceCSV').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "df_CleanSF",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "df_02_SILVER_Clean_SalesForce_gmd",
									"type": "DataFlowReference",
									"parameters": {
										"ptable": {
											"value": "@activity('gmSalesForceCSV').output.childItems",
											"type": "Expression"
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"ptable": {
				"type": "string",
				"defaultValue": "@activity('gmSalesForceCSV').output.itemName"
			}
		},
		"folder": {
			"name": "02_SILVER"
		},
		"annotations": []
	}
}