pipeline/pip_02_SILVER_Clean_Olist_Customers.json
{
	"name": "pip_02_SILVER_Clean_Olist_Customers",
	"properties": {
		"activities": [
			{
				"name": "getMetadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_02_SILVER_RawFiles_Olist",
						"type": "DatasetReference",
						"parameters": {
							"Schema": {
								"value": "@pipeline().parameters.Schema",
								"type": "Expression"
							},
							"Table": {
								"value": "@pipeline().parameters.Table",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "getMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('getMetadata').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "dfCleanOlist",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "df_02_SILVER_Clean_SQL_Olist",
									"type": "DataFlowReference",
									"datasetParameters": {
										"srcOlistParquet": {
											"Schema": "SQLOlist/",
											"Table": {
												"value": "@item().Name",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"DataFile": {
				"type": "string",
				"defaultValue": "@activity('getMetadata').output.itemName"
			},
			"Schema": {
				"type": "string",
				"defaultValue": "SQLOlist"
			},
			"Table": {
				"type": "string",
				"defaultValue": "olist_customers_dataset"
			}
		},
		"folder": {
			"name": "02_SILVER_OLIST"
		},
		"annotations": []
	}
}