pipeline/pip_SILVER_Clean_SalesForce_Loop.json
{
	"name": "pip_SILVER_Clean_SalesForce_Loop",
	"properties": {
		"activities": [
			{
				"name": "lkpTables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Schema",
						"value": "SalesForce"
					},
					{
						"name": "Table"
					}
				],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "@(pipeline().parameters.Schema)",
								"type": "Expression"
							},
							"wildcardFileName": "/@(pipeline().parameters.Table)",
							"enablePartitionDiscovery": false
						}
					},
					"dataset": {
						"referenceName": "dsSalesForceCleanParquet",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "feaTables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lkpTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lkpTables').output",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "exePipeClean",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pip_SILVER_Clean_SalesForce",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Schema": {
				"type": "String"
			},
			"Table": {
				"type": "String"
			}
		},
		"annotations": []
	}
}