pipeline/pip_02_SILVER_Clean_SalesForce_Lkp.json
{
	"name": "pip_02_SILVER_Clean_SalesForce_Lkp",
	"properties": {
		"activities": [
			{
				"name": "lkpTables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": "*",
							"wildcardFileName": "*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_02_SILVER_RawFiles_SalesForce",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "feLkpCleanSF",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lkpTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lkpTables').output",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "dfLkpCleanSF",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "df_02_SILVER_Clean_SalesForce",
									"type": "DataFlowReference"
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "02_SILVER"
		},
		"annotations": []
	}
}