pipeline/pip_01_BRONZE_Olist_All_Tables.json
{
	"name": "pip_01_BRONZE_Olist_All_Tables",
	"properties": {
		"activities": [
			{
				"name": "lkpAllOlistTables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "select  name from sys.sysobjects where xtype = 'U'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_01_BRONZE_Extract_Olist_SysObjects",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "feOlistTables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lkpAllOlistTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lkpAllOlistTables').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlPoolSource",
									"sqlReaderQuery": {
										"value": "@concat('select * from dbo.', item().name)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false
							},
							"outputs": [
								{
									"referenceName": "ds_01_BRONZE_Ingest_Olist_Tables",
									"type": "DatasetReference",
									"parameters": {
										"Schema": "SQLOlist",
										"Table": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "01_BRONZE_OLIST"
		},
		"annotations": []
	}
}