ws-pociob/TemplateForWorkspace.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"workspaceName": {
			"type": "string",
			"metadata": "Workspace name",
			"defaultValue": "ws-pociob"
		},
		"SQLCarSales_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SQLCarSales'"
		},
		"SalesforceLM_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SalesforceLM'"
		},
		"SalesforceLM_securityToken": {
			"type": "secureString",
			"metadata": "Secure string for 'securityToken' of 'SalesforceLM'"
		},
		"ws-pociob-WorkspaceDefaultSqlServer_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ws-pociob-WorkspaceDefaultSqlServer'",
			"defaultValue": "Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=tcp:ws-pociob.sql.azuresynapse.net,1433;Initial Catalog=@{linkedService().DBName}"
		},
		"SalesforceLM_properties_typeProperties_environmentUrl": {
			"type": "string",
			"defaultValue": "https://login.salesforce.com"
		},
		"SalesforceLM_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "laertemeira@myself.sandbox"
		},
		"ws-pociob-WorkspaceDefaultStorage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://pocioblake.dfs.core.windows.net"
		},
		"Trigger_7ig_properties_cpyDeltaPipeSales_parameters_windowStart": {
			"type": "string",
			"defaultValue": "@{addhours(trigger().scheduledTime, -24000)}"
		},
		"Trigger_7ig_properties_cpyDeltaPipeSales_parameters_windowEnd": {
			"type": "string",
			"defaultValue": "@trigger().scheduledTime"
		},
		"Trigger_j4z_properties_cpySalesForceCampaign_parameters_windowStart": {
			"type": "string",
			"defaultValue": "@{addminutes(trigger().scheduledTime, -15)}"
		},
		"Trigger_j4z_properties_cpySalesForceCampaign_parameters_windowEnd": {
			"type": "string",
			"defaultValue": "@trigger().scheduledTime"
		}
	},
	"variables": {
		"workspaceId": "[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('workspaceName'), '/cpyDeltaPipeSales')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"description": "task de test",
				"activities": [
					{
						"name": "pipSQLCarSales",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "dbo.sales"
							},
							{
								"name": "Destination",
								"value": "pociobprimaryfs//carsales-raw"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "select * from [dbo].[sales] \nwhere cast(date as DATE) >= '@{formatDateTime(pipeline().parameters.windowStart, 'yyyy-MM-dd HH:mm' )}' \nAND cast(date as DATE) < '@{formatDateTime(pipeline().parameters.windowEnd, 'yyyy-MM-dd HH:mm' )}'",
									"type": "Expression"
								},
								"isolationLevel": "ReadUncommitted",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"validateDataConsistency": true,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "ws-pociob-WorkspaceDefaultStorage",
										"type": "LinkedServiceReference"
									},
									"path": "pociobprimaryfs"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dsSQLSales",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "tgtSalesParquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"windowStart": {
						"type": "String"
					},
					"windowEnd": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/dsSQLSales')]",
				"[concat(variables('workspaceId'), '/datasets/tgtSalesParquet')]",
				"[concat(variables('workspaceId'), '/linkedServices/ws-pociob-WorkspaceDefaultStorage')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/cpySalesForceCampaign')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Copy1_pociobprimaryfs_Campaign_csv",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy4_pociobprimaryfs_CampaignHistory_csv",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "Campaign"
							},
							{
								"name": "Destination",
								"value": "pociobprimaryfs//Campaign.csv"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": {
									"value": "select * from \"Campaign\" \nwhere \"LastModifiedDate\" >= {ts'@{formatDateTime(pipeline().parameters.windowStart, 'yyyy-MM-dd HH:mm:ss' )}'} \nAND \"LastModifiedDate\" < {ts'@{formatDateTime(pipeline().parameters.windowEnd, 'yyyy-MM-dd HH:mm:ss' )}'}",
									"type": "Expression"
								},
								"readBehavior": "queryAll"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"validateDataConsistency": true,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "ws-pociob-WorkspaceDefaultStorage",
										"type": "LinkedServiceReference"
									},
									"path": "pociobprimaryfs"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dsSFSource",
								"type": "DatasetReference",
								"parameters": {
									"cw_objectApiName": "Campaign"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "tgtSalesForceCSV",
								"type": "DatasetReference",
								"parameters": {
									"cw_fileName": "Campaign.csv"
								}
							}
						]
					},
					{
						"name": "Copy3_pociobprimaryfs_CampaignFeed_csv",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy5_pociobprimaryfs_CampaignMember_csv",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "CampaignFeed"
							},
							{
								"name": "Destination",
								"value": "pociobprimaryfs//CampaignFeed.csv"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"readBehavior": "query"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"validateDataConsistency": true,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "ws-pociob-WorkspaceDefaultStorage",
										"type": "LinkedServiceReference"
									},
									"path": "pociobprimaryfs"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dsSFSource",
								"type": "DatasetReference",
								"parameters": {
									"cw_objectApiName": "CampaignFeed"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "tgtSalesForceCSV",
								"type": "DatasetReference",
								"parameters": {
									"cw_fileName": "CampaignFeed.csv"
								}
							}
						]
					},
					{
						"name": "Copy4_pociobprimaryfs_CampaignHistory_csv",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy3_pociobprimaryfs_CampaignFeed_csv",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "CampaignHistory"
							},
							{
								"name": "Destination",
								"value": "pociobprimaryfs//CampaignHistory.csv"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"readBehavior": "query"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"validateDataConsistency": true,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "ws-pociob-WorkspaceDefaultStorage",
										"type": "LinkedServiceReference"
									},
									"path": "pociobprimaryfs"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dsSFSource",
								"type": "DatasetReference",
								"parameters": {
									"cw_objectApiName": "CampaignHistory"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "tgtSalesForceCSV",
								"type": "DatasetReference",
								"parameters": {
									"cw_fileName": "CampaignHistory.csv"
								}
							}
						]
					},
					{
						"name": "Copy5_pociobprimaryfs_CampaignMember_csv",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "CampaignMember"
							},
							{
								"name": "Destination",
								"value": "pociobprimaryfs//CampaignMember.csv"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"readBehavior": "query"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"validateDataConsistency": true,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "ws-pociob-WorkspaceDefaultStorage",
										"type": "LinkedServiceReference"
									},
									"path": "pociobprimaryfs"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dsSFSource",
								"type": "DatasetReference",
								"parameters": {
									"cw_objectApiName": "CampaignMember"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "tgtSalesForceCSV",
								"type": "DatasetReference",
								"parameters": {
									"cw_fileName": "CampaignMember.csv"
								}
							}
						]
					},
					{
						"name": "Copy7_pociobprimaryfs_CampaignMemberStatus_csv",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy1_pociobprimaryfs_Campaign_csv",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "CampaignMemberStatus"
							},
							{
								"name": "Destination",
								"value": "pociobprimaryfs//CampaignMemberStatus.csv"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"readBehavior": "query"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"validateDataConsistency": true,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "ws-pociob-WorkspaceDefaultStorage",
										"type": "LinkedServiceReference"
									},
									"path": "pociobprimaryfs"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dsSFSource",
								"type": "DatasetReference",
								"parameters": {
									"cw_objectApiName": "CampaignMemberStatus"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "tgtSalesForceCSV",
								"type": "DatasetReference",
								"parameters": {
									"cw_fileName": "CampaignMemberStatus.csv"
								}
							}
						]
					},
					{
						"name": "Copy9_pociobprimaryfs_CampaignShare_csv",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy7_pociobprimaryfs_CampaignMemberStatus_csv",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "CampaignShare"
							},
							{
								"name": "Destination",
								"value": "pociobprimaryfs//CampaignShare.csv"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"readBehavior": "query"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"validateDataConsistency": true,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "ws-pociob-WorkspaceDefaultStorage",
										"type": "LinkedServiceReference"
									},
									"path": "pociobprimaryfs"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dsSFSource",
								"type": "DatasetReference",
								"parameters": {
									"cw_objectApiName": "CampaignShare"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "tgtSalesForceCSV",
								"type": "DatasetReference",
								"parameters": {
									"cw_fileName": "CampaignShare.csv"
								}
							}
						]
					},
					{
						"name": "Copy10_pociobprimaryfs_Order_csv",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy9_pociobprimaryfs_CampaignShare_csv",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "Order"
							},
							{
								"name": "Destination",
								"value": "pociobprimaryfs//Order.csv"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"readBehavior": "query"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"validateDataConsistency": true,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "ws-pociob-WorkspaceDefaultStorage",
										"type": "LinkedServiceReference"
									},
									"path": "pociobprimaryfs"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dsSFSource",
								"type": "DatasetReference",
								"parameters": {
									"cw_objectApiName": "Order"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "tgtSalesForceCSV",
								"type": "DatasetReference",
								"parameters": {
									"cw_fileName": "Order.csv"
								}
							}
						]
					},
					{
						"name": "Copy12_pociobprimaryfs_OrderFeed_csv",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy10_pociobprimaryfs_Order_csv",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "OrderFeed"
							},
							{
								"name": "Destination",
								"value": "pociobprimaryfs//OrderFeed.csv"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"readBehavior": "query"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"validateDataConsistency": true,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "ws-pociob-WorkspaceDefaultStorage",
										"type": "LinkedServiceReference"
									},
									"path": "pociobprimaryfs"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dsSFSource",
								"type": "DatasetReference",
								"parameters": {
									"cw_objectApiName": "OrderFeed"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "tgtSalesForceCSV",
								"type": "DatasetReference",
								"parameters": {
									"cw_fileName": "OrderFeed.csv"
								}
							}
						]
					},
					{
						"name": "Copy13_pociobprimaryfs_OrderHistory_csv",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy12_pociobprimaryfs_OrderFeed_csv",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "OrderHistory"
							},
							{
								"name": "Destination",
								"value": "pociobprimaryfs//OrderHistory.csv"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"readBehavior": "query"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"validateDataConsistency": true,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "ws-pociob-WorkspaceDefaultStorage",
										"type": "LinkedServiceReference"
									},
									"path": "pociobprimaryfs"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dsSFSource",
								"type": "DatasetReference",
								"parameters": {
									"cw_objectApiName": "OrderHistory"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "tgtSalesForceCSV",
								"type": "DatasetReference",
								"parameters": {
									"cw_fileName": "OrderHistory.csv"
								}
							}
						]
					},
					{
						"name": "Copy14_pociobprimaryfs_OrderItem_csv",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy13_pociobprimaryfs_OrderHistory_csv",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "OrderItem"
							},
							{
								"name": "Destination",
								"value": "pociobprimaryfs//OrderItem.csv"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"readBehavior": "query"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"validateDataConsistency": true,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "ws-pociob-WorkspaceDefaultStorage",
										"type": "LinkedServiceReference"
									},
									"path": "pociobprimaryfs"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dsSFSource",
								"type": "DatasetReference",
								"parameters": {
									"cw_objectApiName": "OrderItem"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "tgtSalesForceCSV",
								"type": "DatasetReference",
								"parameters": {
									"cw_fileName": "OrderItem.csv"
								}
							}
						]
					},
					{
						"name": "Copy16_pociobprimaryfs_OrderItemFeed_csv",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy14_pociobprimaryfs_OrderItem_csv",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "OrderItemFeed"
							},
							{
								"name": "Destination",
								"value": "pociobprimaryfs//OrderItemFeed.csv"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"readBehavior": "query"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"validateDataConsistency": true,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "ws-pociob-WorkspaceDefaultStorage",
										"type": "LinkedServiceReference"
									},
									"path": "pociobprimaryfs"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dsSFSource",
								"type": "DatasetReference",
								"parameters": {
									"cw_objectApiName": "OrderItemFeed"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "tgtSalesForceCSV",
								"type": "DatasetReference",
								"parameters": {
									"cw_fileName": "OrderItemFeed.csv"
								}
							}
						]
					},
					{
						"name": "Copy17_pociobprimaryfs_OrderItemHistory_csv",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy16_pociobprimaryfs_OrderItemFeed_csv",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "OrderItemHistory"
							},
							{
								"name": "Destination",
								"value": "pociobprimaryfs//OrderItemHistory.csv"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"readBehavior": "query"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"validateDataConsistency": true,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "ws-pociob-WorkspaceDefaultStorage",
										"type": "LinkedServiceReference"
									},
									"path": "pociobprimaryfs"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dsSFSource",
								"type": "DatasetReference",
								"parameters": {
									"cw_objectApiName": "OrderItemHistory"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "tgtSalesForceCSV",
								"type": "DatasetReference",
								"parameters": {
									"cw_fileName": "OrderItemHistory.csv"
								}
							}
						]
					},
					{
						"name": "Copy18_pociobprimaryfs_OrderShare_csv",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy17_pociobprimaryfs_OrderItemHistory_csv",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "OrderShare"
							},
							{
								"name": "Destination",
								"value": "pociobprimaryfs//OrderShare.csv"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"readBehavior": "query"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"validateDataConsistency": true,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "ws-pociob-WorkspaceDefaultStorage",
										"type": "LinkedServiceReference"
									},
									"path": "pociobprimaryfs"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dsSFSource",
								"type": "DatasetReference",
								"parameters": {
									"cw_objectApiName": "OrderShare"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "tgtSalesForceCSV",
								"type": "DatasetReference",
								"parameters": {
									"cw_fileName": "OrderShare.csv"
								}
							}
						]
					},
					{
						"name": "Copy19_pociobprimaryfs_OrderStatus_csv",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy18_pociobprimaryfs_OrderShare_csv",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "OrderStatus"
							},
							{
								"name": "Destination",
								"value": "pociobprimaryfs//OrderStatus.csv"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"readBehavior": "query"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"validateDataConsistency": true,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "ws-pociob-WorkspaceDefaultStorage",
										"type": "LinkedServiceReference"
									},
									"path": "pociobprimaryfs"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dsSFSource",
								"type": "DatasetReference",
								"parameters": {
									"cw_objectApiName": "OrderStatus"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "tgtSalesForceCSV",
								"type": "DatasetReference",
								"parameters": {
									"cw_fileName": "OrderStatus.csv"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"windowStart": {
						"type": "String"
					},
					"windowEnd": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/dsSFSource')]",
				"[concat(variables('workspaceId'), '/datasets/tgtSalesForceCSV')]",
				"[concat(variables('workspaceId'), '/linkedServices/ws-pociob-WorkspaceDefaultStorage')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/tgtSalesParquet')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ws-pociob-WorkspaceDefaultStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "carsales.parquet",
						"fileSystem": "pociobrawlanding"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "index",
						"type": "INT64"
					},
					{
						"name": "brand",
						"type": "UTF8"
					},
					{
						"name": "name",
						"type": "UTF8"
					},
					{
						"name": "bodyType",
						"type": "UTF8"
					},
					{
						"name": "color",
						"type": "UTF8"
					},
					{
						"name": "fuelType",
						"type": "UTF8"
					},
					{
						"name": "year",
						"type": "DOUBLE"
					},
					{
						"name": "mileage",
						"type": "DOUBLE"
					},
					{
						"name": "transmission",
						"type": "UTF8"
					},
					{
						"name": "power",
						"type": "DOUBLE"
					},
					{
						"name": "price",
						"type": "INT64"
					},
					{
						"name": "vehicleConfiguration",
						"type": "UTF8"
					},
					{
						"name": "engineName",
						"type": "UTF8"
					},
					{
						"name": "engineDisplacement",
						"type": "UTF8"
					},
					{
						"name": "date",
						"type": "UTF8"
					},
					{
						"name": "location",
						"type": "UTF8"
					},
					{
						"name": "link",
						"type": "UTF8"
					},
					{
						"name": "parse_date",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/ws-pociob-WorkspaceDefaultStorage')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/tgtSalesForceCSV')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ws-pociob-WorkspaceDefaultStorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_fileName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().cw_fileName",
							"type": "Expression"
						},
						"fileSystem": "pociobrawlanding"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/ws-pociob-WorkspaceDefaultStorage')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/dsSQLSales')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLCarSales",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "index",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "brand",
						"type": "varchar"
					},
					{
						"name": "name",
						"type": "varchar"
					},
					{
						"name": "bodyType",
						"type": "varchar"
					},
					{
						"name": "color",
						"type": "varchar"
					},
					{
						"name": "fuelType",
						"type": "varchar"
					},
					{
						"name": "year",
						"type": "float",
						"precision": 15
					},
					{
						"name": "mileage",
						"type": "float",
						"precision": 15
					},
					{
						"name": "transmission",
						"type": "varchar"
					},
					{
						"name": "power",
						"type": "float",
						"precision": 15
					},
					{
						"name": "price",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "vehicleConfiguration",
						"type": "varchar"
					},
					{
						"name": "engineName",
						"type": "varchar"
					},
					{
						"name": "engineDisplacement",
						"type": "varchar"
					},
					{
						"name": "date",
						"type": "varchar"
					},
					{
						"name": "location",
						"type": "varchar"
					},
					{
						"name": "link",
						"type": "varchar"
					},
					{
						"name": "parse_date",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "sales"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/SQLCarSales')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/dsSFSource')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SalesforceLM",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_objectApiName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "SalesforceObject",
				"schema": [],
				"typeProperties": {
					"objectApiName": {
						"value": "@dataset().cw_objectApiName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/SalesforceLM')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/SQLCarSales')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SQLCarSales_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/SalesforceLM')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"description": "Salesforce do Laerte",
				"annotations": [],
				"type": "Salesforce",
				"typeProperties": {
					"environmentUrl": "[parameters('SalesforceLM_properties_typeProperties_environmentUrl')]",
					"username": "[parameters('SalesforceLM_properties_typeProperties_username')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SalesforceLM_password')]"
					},
					"securityToken": {
						"type": "SecureString",
						"value": "[parameters('SalesforceLM_securityToken')]"
					},
					"apiVersion": "57.0"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ws-pociob-WorkspaceDefaultSqlServer')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"parameters": {
					"DBName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('ws-pociob-WorkspaceDefaultSqlServer_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ws-pociob-WorkspaceDefaultStorage')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ws-pociob-WorkspaceDefaultStorage_properties_typeProperties_url')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Trigger_7ig')]",
			"type": "Microsoft.Synapse/workspaces/triggers",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "cpyDeltaPipeSales",
							"type": "PipelineReference"
						},
						"parameters": {
							"windowStart": {
								"type": "Expression",
								"value": "[parameters('Trigger_7ig_properties_cpyDeltaPipeSales_parameters_windowStart')]"
							},
							"windowEnd": {
								"type": "Expression",
								"value": "[parameters('Trigger_7ig_properties_cpyDeltaPipeSales_parameters_windowEnd')]"
							}
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 24,
						"startTime": "2023-04-13T01:00:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/pipelines/cpyDeltaPipeSales')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Trigger_j4z')]",
			"type": "Microsoft.Synapse/workspaces/triggers",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "cpySalesForceCampaign",
							"type": "PipelineReference"
						},
						"parameters": {
							"windowStart": {
								"type": "Expression",
								"value": "[parameters('Trigger_j4z_properties_cpySalesForceCampaign_parameters_windowStart')]"
							},
							"windowEnd": {
								"type": "Expression",
								"value": "[parameters('Trigger_j4z_properties_cpySalesForceCampaign_parameters_windowEnd')]"
							}
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 15,
						"startTime": "2023-04-12T02:01:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/pipelines/cpySalesForceCampaign')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AutoResolveIntegrationRuntime')]",
			"type": "Microsoft.Synapse/workspaces/integrationRuntimes",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/WorkspaceSystemIdentity')]",
			"type": "Microsoft.Synapse/workspaces/credentials",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "ManagedIdentity",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/NYCTripSimpleQuery')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"content": {
					"query": "SELECT\n    TOP 100 *\nFROM\n    OPENROWSET(\n        BULK 'https://pocioblake.dfs.core.windows.net/pociobprimaryfs/NYCTripSmall.parquet',\n        FORMAT='PARQUET' \n    ) AS [result]",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "master",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/SQL script 1')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"content": {
					"query": "CREATE TABLE tbWaterMarkControl\n(\n\t TableControled VARCHAR,\n\t WatermarkValue datetime\n)",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "SynapseIntegrationMDDB",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Database1')]",
			"type": "Microsoft.Synapse/workspaces/databases",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"Ddls": [
					{
						"ActionType": "CREATE",
						"OldEntity": null,
						"NewEntity": {
							"Name": "Database1",
							"EntityType": "DATABASE",
							"Origin": {
								"Type": "SPARK"
							},
							"Properties": {
								"IsSyMSCDMDatabase": true
							},
							"Source": {
								"Provider": "ADLS",
								"Location": "abfss://pociobprimaryfs@pocioblake.dfs.core.windows.net/Database1",
								"Properties": {
									"FormatType": "csv",
									"LinkedServiceName": "ws-pociob-WorkspaceDefaultStorage"
								}
							}
						},
						"Source": {
							"Type": "SPARK"
						}
					}
				]
			},
			"dependsOn": []
		}
	]
}